* {
	font-weight: lighter;
	text-transform: uppercase;
	font-style: italic;
}

body {
	background: url('https://wallpaperlayer.com/img/2015/9/dark-texture-background-wallpaper-5892-6160-hd-wallpapers.jpg') no-repeat center center fixed;
	background-color: #000;
}

.container{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	padding: 0;
}

.house {
	margin: 50px 10px 0 10px;
}

img {
	margin: 0 35px;
	width: 220px;
	transition: transform, .2s;
}

.details {
	width: 1000px;
	margin: 30px auto;
	height: 300px;
	padding: 20px;
	text-align: center;
	font-size: 1.5em;
}

img:hover {
	transform: scale(1.1);
}
