* {
	font-family: sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
}

.container{
	width: 400px;
	height: 200px;
	background-color: gray;
	margin: 100px auto 0 auto;
	padding: 20px;
	border-radius: 20px;
}

img {
	width: 100px;
	height: 100px;
	display: inline-block;
}

h1, h3, form {
	text-align: center;
	color: #FFF;
}


form input, form button {
	vertical-align: top;
	padding: 10px;
	margin: 0;
	font-size: 1em;
	color: gray;
	box-sizing: border-box;
}

form button {
	padding: 10px 30px;	
	border: 2px solid white;
	background-color: #FFF;

}

form button:hover {
	background-color: gray;
	color: #FFF;
}

#in {
	margin-right: 10px;
}
